/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */


* {
  font-family: "Helvetica Neue";
  margin: 0;
  padding: 0;
  background-color: #074B7A;
  color: white;
}

h1 {
  background-color: #074B7A;
  color: white;
  height: 90px;
  text-align: center;
  line-height: 90px;
}

form {
  margin: 0 auto;
  background-color: #074B7A;
  padding: 0px 20px 20px 20px;
}

#input-search-address {
  width: 320px;
  height: 32px;
  background-color: #074B7A;
  border-radius: 16px;
  border: 1px solid #fff;
  display: block;
  margin: 0px auto 15px auto;
  color: white;
  font-size: 14px;
  font-weight: 300;
  text-align: center;
}

#input-search-submit {
  background: #00aee6;
  border-radius: 16px;
  border: 1px solid #fff;
  display: block;
  font-size: 12px;
  height: 32px;
  letter-spacing: normal;
  line-height: 12px;
  padding: 11px 20px !important;
  text-align: center;
  text-transform: uppercase;
  white-space: nowrap;
  color: white;
  font-weight: bold;
  margin: 5px auto;
}

#address {
  width: 960px;
  display: flex;
  margin: 20px auto;
}

#address span {
  display: block;
}

#address-info {
  margin-right: 40px;
}

#address-info span {
  margin: 10px 0px;
}

.address-info-title {
  font-size: 24px;
}

#address-address {
  margin-top: 0px;
  font-size: 24px;
}

#address-info-balance {
  margin-top: 20px;
}

#transactions-info {
  margin-top: 10px;
}

#transactions {
  height: 325px;
  overflow: auto;
  border: 1px solid white;
  padding: 10px;
}

#transactions span {
  margin-top: 5px;
}

li {
  list-style: none;
  border-bottom: 1px solid white;
  padding: 15px 0;
}

li:first-of-type {
  padding-top: 0px;
}

#error-message {
  border: 1px solid white;
  width: 750px;
  margin: 0 auto;
  border-radius: 33px;
  height: 63px;
}

#error-message-positioning-div {
  width: 95%;
  margin: auto;
  margin-top: 7px;
}

p {
  margin: 0 auto;
  text-align: center;
  padding: 3px 0;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: white;
    opacity: 1; /* Firefox */
}
